include README.rst
include CHANGELOG.rst
include LICENSE

global-exclude *.py[cod] __pycache__ *.so *.dylib

# Python modules/files

recursive-include src *.py
recursive-include tests *.py

include requirements.txt

# app static data
include menu_entries.json
include src/pydoer/doerrc
include src/pydoer/defaults.cfg

# test data
include tests/invalid-menu-entries-1.json


# CI / Test Automation / Lint / Static Analysis
include .circleci/config.yml
include tox.ini
include .coveragerc
include .prospector.yml
include .pylintrc
